.sidebar {
    height: 100%;
    width: 16.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(87, 87, 87));
    text-align: center;
    overflow-x: hidden;
    padding-top: 160px;
}

.styleButtons{
    background-color: rgba(22, 22, 22, 0.233);
    margin: 0px 0px 5px 0px;
    padding: 20px 25px 5px 0px;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-size: 16px;
}

.sidebarButtons button {
    background-color: rgba(0, 0, 0, 0.253);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(219, 220, 226);
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.sidebarButtons button:hover {
    background-color: rgba(170, 170, 170, 0.35);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.sidebarButtons button:active {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.sidebarButtons button:focus {
    outline:none !important;
}

.openMenu {
    max-height: 35%;
    width: 100%;
    overflow: auto;
    margin: 0px;
    /* align-content: flex-start; */
}

.openMenu button {
    background-color: rgb(15, 15, 15);
    /* display: block; */
    border: 1px solid rgb(0, 0, 0);
    color: rgb(219, 220, 226);
    width: 85%;
    height: 26px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
    padding: 0px 2px;
}

.openMenu button:hover {
    background-color: rgba(170, 170, 170, 0.35);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.openMenu button:active {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.openMenu button:focus {
    outline:none !important;
}

.delete Button{
    background-color: rgb(8, 2, 1);
    border: none;
    width: 13%;
    color: rgb(255, 82, 59);
}